.r2r-font{
    font-family: Cousine, sans-serif;
    color: black;
    font-size: 25px;
}

.answer {
    height: 550px;
    width: 100%;
    border-radius: 10px;
}

.question {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.container{
    padding: 0 350px 0 350px;
}

.button {
    padding: 5px 16px;
    font-size: 18px;
    line-height: 1.33;
    margin: 20 220 20 220;

    text-align: center;
    vertical-align: middle;

    cursor: pointer;

    background-color: #428bca;
    border-radius: 6px;

    border: 1px solid transparent;
}

.plain {
    text-decoration: none;
    color: white;
}

.menu-item {
    float:left;
    padding-right: 10px;
}

.menu {
    list-style:none;
    height:10px;
    padding: 0 350 0 350;

}

.nav-link {
    text-decoration: none;
    font-family: Sans serif;
    color:black;
}

.nav-link:hover{
    background: #D3D3D3;
}

.nav-link:hover ~ ul{
    display: block;
}

.sub-menu {
    padding: 1px 5px;
    display:none;
    list-style:none;
}